:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgba(239, 239, 239, 0.073);
    --bodyColor: rgb(240, 240, 245);
    --cardBG: rgb(225, 225, 235);
  }
  .virtual{
    width: 100%;
    height:90px,
  }
 .contactContainer{
    margin:10px;
    .carousel-inner{
        .carousel-item{
            width: 100%;
            height: 500px;
        }
      }
      .collaborate{
        margin-top: 20px;
    
        .detailItem{
            display:flex;
            flex-direction:column;
            margin-bottom: 20px;
            .itemTitle{
               .bigTitle{
                display:flex;
                flex-direction:row;
                gap: 10px;
               }
               .smallTitle{
                color: gray;
               }
            }
            .itemCard{
                display: flex;
                flex-direction: row;
                gap: 10px;
             
                .card{
                    width: 25%;
                    border: 0.5px solid gray;
                   
                   .imgCard{
                      overflow: hidden;
                      padding:2px;
                    img {
                        object-fit: cover;
                        transition: 2s ease;
                    }
                   }
                    &:hover{
                        img {
                            transform: scale(1.5);
                        }
                    }
                    
                }
            }
        }
      }
      .imgAboutContact{
       position: relative;
        transform: translateX(50);
       margin: 15px;
      }
 }