:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 245);
    --cardBG: rgb(255, 255, 255);
  }
  .listContainer{  
    position: relative;
    padding:6.5rem 2rem 2rem ;
    top: .2rem;
  margin-bottom: 10rem;
    .listWapper{
        width: 100%;
        justify-content: center;
        display: flex;  
        flex-direction: column;  
        .findBooking{
            
            display: flex;
            flex-direction: row;
            
          .option{
            display: flex;
            flex-direction:column;
            .optionTitle{
                 

            }
            .active{
               .icon{
                color : var(--PrimaryColor);
               }
               p{
                color : var(--PrimaryColor)
               }
            }
          }
          .detailBooking{
            width: 100%;
            box-shadow:  .5px 1px gray;
            position: relative;
            margin-bottom:20px;
            
            .titleBook{
                text-align: center;
                font-size:25px;
                font-weight: bold;
            }
            .hotelDetail{
                .destination{
                    width: 100%;
                   margin: 10px;
                    .icon{
                        color:var(--SecondaryColor);
                        font-size: 2.5rem;
                    }
                    input{
                      width: 80%;
                      padding: 10px;
                      border:none;
                      outline: none;
                      border-bottom: 1px solid black;
                      
                    }
                }
                .detailCont{
                    display: flex;
                    .date{
                        margin: 10px;
                        position: relative;
                        flex: 1;
                        .icon{
                            color: var(--SecondaryColor);
                        }
                        .textDate{
                           
                            cursor: pointer;
                            padding: 10px;
                            border-bottom: 1px solid black;
                        }
                        .dateInput{
                            position: absolute;
                           
                        }
                    }
                    .detailRoom{
                        flex: 1;
                        position: relative;
                        cursor: pointer;
                        .icon{
                            color: var(--SecondaryColor);
                        }
                        .detail{
                            padding: 10px;
                            border-bottom: 1px solid black;
                        }
                        .optionRoom{
                           position: absolute;
                           background-color: #ffff;
                           width: 40%;
                           display: flex;
                           flex-direction: column;
                           border: 1px solid gray;
                           border-radius: 5%;
                          
                           .optionItem{
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             padding: 5px;
                            
                             .optionText{
                                flex: 1;
                             }
                             .buttonCounter{
                                flex: 1;
                                .optionCounterNumber{
                                }
                                .optionCounterButton{
                                    margin:10px;
                                    padding: 5px;
                                    border-radius: 25%;
                                    background-color: white;
                                    font-weight: bold;
                                    
                                }
                             }
                           }
                        }
                    }
                }
                p{
                    color:var(--SecondaryColor);
                    font-weight: 500;
                    margin: 10px;
                }
                .button{
                    background-color:#ffff;
                    padding:10px;
                    position: absolute;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    span{
                        font-weight: 600;
                    }
    
                }
            }
            .planeDetail{
                display: flex;
                flex-direction: column;  
                position: relative;  
                gap: 10px;
                margin-left: 10px;
                .flightPlace{
                    display: flex;
                
                    
                    .Place{
                       margin:10px;           
                      input {
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                      }
                    }
                    button{
                        color: var(--SecondaryColor);
                        background-color:#ffff;
                        padding: 0 10px 0;
                        border-radius: 50%;
                    }
                }
                .selectType{
                    width: 30%;
                    position: absolute;
                    right: 20rem;
                    top:10px;
                }
                .detailPlane{
                    flex: 1;
                    position: relative;
                    cursor: pointer;
                    .icon{
                        color: var(--SecondaryColor);
                    }
                    .detail{
                        padding: 10px;
                        border-bottom: 1px solid black;
                    }
                    .optionRoom{
                       position: absolute;
                       background-color: #ffff;
                       width: 40%;
                       display: flex;
                       flex-direction: column;
                       border: 1px solid gray;
                       border-radius: 5%;
                      
                       .optionItem{
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         padding: 5px;
                        
                         .optionText{
                            flex: 1;
                         }
                         .buttonCounter{
                            flex: 1;
                            .optionCounterNumber{
                            }
                            .optionCounterButton{
                                margin:10px;
                                padding: 5px;
                                border-radius: 25%;
                                background-color: white;
                                font-weight: bold;
                                
                            }
                         }
                       }
                    }
                }
                .dateFlight{
                    position: absolute;
                    top: 4rem;
                    left: 20rem;
                   input{
                    padding: 5px;
                    margin-left: 5px;
                    border:none;
                    border-bottom: 1px solid black;
                   }
                   .icon{
                    color:var(--SecondaryColor);
                   }
                }
                .btnFlight{
                   cursor: pointer;
                   border: 1px solid black;
                   width: max-content;
                   padding: 5px 10px 5px ;
                   position: absolute;
                   bottom:-3.5rem;
                   right:25rem;
                   .icon{
                    color: var(--SecondaryColor);
                    font-weight: 500;
                   }
                }

            }
            .carDetail{
                margin-left: 10px;
                position: relative;
                display: grid;
                gap: 10px;
                .Cartilte{
                    label{
                        font-size:18px;
                        font-weight: 500;
                    }
                    input{
                         padding: 5px 10px 5px;
                         border: none;
                         border-bottom: 1px solid gray;
                    }
                }
                .dateRental{
                   position: relative;
                    cursor: pointer;
                    .date{
                        label{
                            font-size:18px;
                            font-weight: 600;
                        }
                        .dateInput{
                            position: absolute;
                        }
                    }
                }
                .seatsConuter{
                    display: flex;
                    align-items: center;
                    label{
                        font-size: 18px;
                        font-weight: 600;

                    }
                    .btnCoun{
                        border: 1px solid black;
                        padding: 0 5px 0;
                        margin: 10px;
                        cursor: pointer;
                    }
                    
                }
                .autoDriver{
                    position:absolute;
                    left: 20rem;
                    top: .5rem;
                    cursor: pointer;
                    h6{
                        font-size: 18px;
                        font-weight: 500;
                        .icon{
                            display: none;
                        }
                    }
                 }
                 .searchCar{
                    border: 1px solid black;
                    width: max-content;
                    cursor: pointer;
                    margin-bottom: 5px;
                    .icon{
                        color: var(--SecondaryColor);
                    }

                 }
            }
            
            @media (max-width: 768px){
                .hotelDetail{
                    .detailCont{
                        flex-direction: column;
                        align-items: start;
                        margin-left: 10px;
                        
                    }
                    .button{
                        position: relative;
                        top: 1.5rem;
                        left: 5rem;
                    }
                }
                
            }
          }
        } 
        
        .listResult{
            .secContent{
                justify-content: center;
                gap:1.5rem;
                .singleDestination{
                    height: 100%;
                    display: grid;
                    row-gap: 10px;
                    border-radius: 10px;
                    align-items: center;
                    box-shadow: 0 2px 4px rgba(140,140,141,0.5);
                    overflow: hidden;
                    padding: 1rem;
                    &:hover{
                        background: var(--cardHover);
                        box-shadow: 0 2px 4px var(--PrimaryColor);
                        transition: .3 ease;
                    }
                    .imageDiv{
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        img{
                            height:180px;
                            width: 100%;
                            object-fit: cover;
                            transition: 2s ease;
                        }
                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                    .cardInfo{
                        padding: 1rem;
        
                        .destTitle{
                            color: var(--blackColor);
                            font-size: 1.25rem;
                        }
                        .continent{
                            gap: .5rem;
                            .icon{
                                color: var(--textColor);
                                font-size: 18px;
                            }
                            .name{
                                color: var(--textColor);
                                font-weight: 400;
                                font-size:14px;
                            }
                        }
                        .fees{
                            width: 100%;
                            justify-content: space-between;
                            padding: 1rem;
                            margin: 1rem 0;
                            border-top:1.5px solid var(--greyText);
                            border-bottom:1.5px solid var(--greyText);
                            .grade{
                                color: var(--textColor);
                                max-width: 100px;
                                line-height:20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                small{
                                    text-align: center;
                                    background: var(--gradientColor);
                                    border-radius: 1rem;
                                    color: var(--whiteColorDeam);
                                    padding: 1px 10px;
                                    font-size: 10px;
                                }
                            }
                            .price{
                                font-size: 2rem;
                                color: var(--blackColor);
                            }
                            
                        }
                        .desc{
                            font-size: 13.5px;
                            color: var(--textColor);
                            font-weight: 500;
        
                        }
                        .btn{
                            margin-top: 1rem;
                            color: var(--whiteColorDeam);
                            font-weight: 600;
                            justify-content:space-between;
                            gap: .5rem;
                            .icon{
                                align-self: center;
                                font-size:18px;
                            }
                        }
                    }
                }
        
            }
        }
       
    }
   
  }
  @media  screen and (max-width:768px){
    .listContainer{
        .listWapper{
            display: flex;
            flex-direction: column;
            .listSearch{
                position: relative;
                top: -3rem;
               
            }
        }
    }
  }