:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 245);
  --cardBG: rgb(255, 255, 255);
}

.listContainer {
  position: relative;
  padding: 6.5rem 2rem 2rem;
  top: 0.2rem;
}
.listContainer .listWapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.listContainer .listWapper .findBooking {
  display: flex;
  flex-direction: row;
}
.listContainer .listWapper .findBooking .option {
  display: flex;
  flex-direction: column;
}
.listContainer .listWapper .findBooking .option .active .icon {
  color: var(--PrimaryColor);
}
.listContainer .listWapper .findBooking .option .active p {
  color: var(--PrimaryColor);
}
.listContainer .listWapper .findBooking .detailBooking {
  width: 100%;
  box-shadow: 0.5px 1px gray;
  position: relative;
  margin-bottom: 20px;
}
.listContainer .listWapper .findBooking .detailBooking .titleBook {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .destination {
  width: 100%;
  margin: 10px;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .destination .icon {
  color: var(--SecondaryColor);
  font-size: 2.5rem;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .destination input {
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont {
  display: flex;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .date {
  margin: 10px;
  position: relative;
  flex: 1;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .date .icon {
  color: var(--SecondaryColor);
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .date .textDate {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid black;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .date .dateInput {
  position: absolute;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom {
  flex: 1;
  position: relative;
  cursor: pointer;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .icon {
  color: var(--SecondaryColor);
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .detail {
  padding: 10px;
  border-bottom: 1px solid black;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .optionRoom {
  position: absolute;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5%;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .optionRoom .optionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .optionRoom .optionItem .optionText {
  flex: 1;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .optionRoom .optionItem .buttonCounter {
  flex: 1;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail .detailCont .detailRoom .optionRoom .optionItem .buttonCounter .optionCounterButton {
  margin: 10px;
  padding: 5px;
  border-radius: 25%;
  background-color: white;
  font-weight: bold;
}
.listContainer .listWapper .findBooking .detailBooking .hotelDetail p {
  color: var(--SecondaryColor);
  font-weight: 500;
  margin: 10px;
}
.listContainer .listWapper .findBooking .detailBooking .button {
  background-color: white;
  padding: 10px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.listContainer .listWapper .findBooking .detailBooking .button span {
  font-weight: 600;
}
.listContainer .listWapper .listResult .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.5);
  overflow: hidden;
  padding: 1rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 0 2px 4px var(--PrimaryColor);
  transition: 0.3 ease;
}
.listContainer .listWapper .listResult .secContent .singleDestination .imageDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.listContainer .listWapper .listResult .secContent .singleDestination .imageDiv img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.listContainer .listWapper .listResult .secContent .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo {
  padding: 1rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .continent .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColorDeam);
  padding: 1px 10px;
  font-size: 10px;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .fees .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: var(--whiteColorDeam);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.listContainer .listWapper .listResult .secContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .listContainer .listWapper {
    display: flex;
    flex-direction: column;
  }
  .listContainer .listWapper .listSearch {
    position: relative;
    top: -3rem;
  }
}/*# sourceMappingURL=list.css.map */