:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 245);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
  }
  .cartContainer{
    padding-top: 5rem;
    display: flex;
    .option{
      flex: 1;
      display: flex;
      flex-direction: column;
      height: max-content;
       padding-top: 2rem;
       margin: 10px;
           .userFace{
              display: flex;
              align-items: center;
              justify-content: left;
              gap: 10px;
              border-top: 1px solid gray ;
              border-bottom: 1px solid gray ;
              padding: 10px;
              width: 100%;
              .logo{
                width: 50px;
                height: 50px;
                background:var(--PrimaryColor);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                  color: var(--whiteColorDeam)
                }
              }
              .detailUser{
                display: flex;
                align-items: center;
                flex-direction: column;
                .userName{
                  font-size:15px;
                  font-weight:500;
                }
                a{
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  color: gray;
                  &:hover{
                    color: var(--PrimaryColor);
                  }
                  .icon{
                    font-size:13px;

                  }
                }
              }
           }
           .onptionItem{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 2rem;
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid rgb(224, 215, 215) ;
            &:hover{
              color: var(--PrimaryColor);
              background: var(--whiteColorDeam);
            }
            
           }
        }
    .cartWapper{
      flex: 2;
        flex-direction: column;
        padding: 20px;
        row-gap: 20px;
        .itemCart{
          
            display: flex;
          flex-direction: column; 
          justify-content:center;
          align-items: center;
          width: 100%;
          height: max-content;
          background:var(--cardBG);
          padding: 20px;
          border-radius: 1rem;
          &:hover{
            background: var(--whiteColorDeam);
          }     
          .cartTile{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid gray ;
            .nameTitle{
                font-size: 20px;
                font-weight: 600;
                color: var(--blackColor);
                &:hover{
                    color: var(--PrimaryColor);
                }
                .icon{
                    font-size: 20px;
                    font-weight: 600;
                }
            }

          }
          .cartInfo{
            display: flex;
            padding: 20px;
            border-bottom: 1px solid gray ;
            width: 100%;
            gap: 10px;
            position: relative;
            img{
               flex: 1;
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
            .placeInfo{
              flex: 3;
                span{
                    color: var(--textColor);
                    font-size: 15px;
                    font-weight: 500;
                }
                p{
                    color: var(--textColor);
                    font-size: 13px;
                }
            } 
            .numnerInfo{
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 5px;
              .roomInfo{
                display: flex;
                justify-content: space-between;
              }
            }
            .button{
              width: 100%;
              padding: 10px;
            }

          }
          .button{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            justify-content: right;
            gap: 10px;
            .btn{
              border-radius: .5rem;
              color: var(--whiteColorDeam);
              font-weight: 800;
              font-size: 13px;
            }
          }

        }
        .pageChange{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content:center;
          gap: 20px;
          .btn{
            border-radius:.2rem;
            padding: 5px 2rem 5px;
            color: var(--whiteColorDeam);
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
              font-size: 20px;
              font-weight:800;
            }
          }
        }
    }
  }